html {
    box-sizing: border-box;
    z-index: 1;
}

.pizza {
    height: 346px;
    background-size: cover;
    z-index: 2;
}

.jumbotron-intro {
    z-index: 3;
    position: absolute;
    top: 5em;
    right: 285px;
    background-color: rgba(255, 255, 255, 0.52);
    padding: 5px 450px;
}

.pizza-build-text {
    text-indent: 290px;
    padding: 50px 20px 5px 20px;
}

.main-body {
    display: block;
    margin-right: 270px;
    margin-left: 300px;
}

.size-badge {
    border-radius: 100%;
    padding: 7px;
    margin: 5px;
    color: white;
}

.quantity-cheese {
    width: 100%;
}

.sauce-type {
    width: 100%;
}

.quantity-sauce {
    width: 100%;
}