* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: auto;
}

nav {
    background: slategray;
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    margin: auto;
    padding: 1px;
    display: flex;
}

.logo>a {
    padding: 0;
}

.left-ul-link {
    margin-left: 2px;
}

.logo {
    padding: .2em;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.right-ul-link {
    margin-right: 2px;
}

nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1em;
}

nav a:hover {
    color: deepskyblue;
}