/* how to comment */
.fancy-header {
    color:darkcyan;
    text-decoration: underline;
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}
body {
    background-image: url("../img/img/spacebackground.jpeg");
}
.intro-header {
    color:darkred;
    text-align: center;
    font-family: sans-serif;
}

/*html {*/
/*    background-image:url();*/
/*}*/

h3 {
    color: purple;
    font-family: "cursive";
    text-decoration: underline;
}

ul {
    font-family: cursive;
    list-style: square;
}

ol {
    font-family: cursive;
    list-style: upper-roman;
}

table {
    font-family: cursive;
    text-decoration: underline;
}

.guarantee {
    font-weight: bold;
}








a:hover {
    color: orangered;
    font-size: 32px;
}

a:active {
    color: deepskyblue;
    background-color: darkred;
}